src/main/mule/implementation/patch-users-by-userId.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bip-log-sdk="http://www.mulesoft.org/schema/mule/bip-log-sdk" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/bip-log-sdk http://www.mulesoft.org/schema/mule/bip-log-sdk/current/mule-bip-log-sdk.xsd">
	<flow name="patch-users-by-userId-implementation" doc:id="6fd49015-f21e-40cc-9f9b-813723bc6b9b" >
		<bip-log-sdk:info-log doc:name="Request" doc:id="2369a334-cb23-4658-90dd-44cd52f06208" message='#["Received Input for $(flow.name)"]'>
			<bip-log-sdk:content ><![CDATA[#[%dw 2.0
output application/json
---
vars.originalPayload]]]></bip-log-sdk:content>
		</bip-log-sdk:info-log>
		<ee:transform doc:name="Set Salesforce Query For Account" doc:id="401a85a6-d6b7-4a4a-a52a-57fd12d1bea6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sf" ><![CDATA[%dw 2.0
output application/java
---
{
	"query": "select Id from Account where Name = :Name",
	"parameters": {
		"Name": "Marco Antonio"
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="requesters-salesforce-query" doc:id="997df8b3-2d84-4dd1-ac1f-d4ae4814e2ea" name="requesters-salesforce-query"/>
		<flow-ref doc:name="requesters-salesforce-query" doc:id="68346437-6587-47dc-90ea-a0c15da7022b" name="requesters-salesforce-query" />
		<ee:transform doc:name="Set Response" doc:id="c8bbe01d-465c-4617-bbe3-701fa7056090" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/json
---
204]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<bip-log-sdk:info-log doc:name="Response" doc:id="3c37db2d-33e1-426b-bc44-41e9a64363c6" message='#["Received Output for $(flow.name)"]'>
			<bip-log-sdk:content ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></bip-log-sdk:content>
		</bip-log-sdk:info-log>
	</flow>
</mule>
